.animate__animated.animate__bounce {
    --animate-duration: 3s;
}

.animate__animated.animate__pulse {
    --animate-duration: 3s;
}

.gaming-library{
    display:flex;
}

.chart body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#data-example-2 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
}

#line-example-4 {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f6f6f6;
  }